<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>site web</title>
    <link rel="stylesheet" href="style.css">
    <!--<link rel="stylesheet" href="https://fonts.google.com/specimen/Roboto">-->
</head>
<body>
    
    <div class="hero">
        <div class="navbar">
            <div class="navbar-logo"><img src="img/logoSite2.png"></div>
            <div><h1>Miaou<span class="nom-logo">topia</span></h1></div>
            <ul>
                <li><a href="#">Acceuil</a></li>
                <li><a href="#">animaux</a></li>
                <li><a href="#">refuges</a></li>
                <li><a href="produits/demos.creative-tim.com/bs3/material-kit-pro/examples/list-product.php">Produits</a></li>
                <li><a href="#">reclamations</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <div class="navbar-icons">
                <img src="img/bell.png">
                <img src="img/user.png">
                <img src="img/menu.png">
            </div>
        </div>
        <div class="banner">
            <div class="left-column">
                <div class="search-box">
                    <img src="img/search.png">
                    <input type="text">
                </div>
                <h1>Miaou<span>topia</span></h1>
                <h3>Parce que chaque chat mérite une seconde chance</h3>
                <pre>
    Bienvenue sur notre site !
    Nous sommes une association à but non lucratif dédiée à la protection des animaux,
    et plus particulièrement des chats et des chiens.
            
    Sur notre site, vous pourrez découvrir nos pensionnaires à adopter,
    en consultant leurs fiches détaillées accompagnées de photos.
                </pre>
                <p>
                    
                </p>
                <div class="btn">
                    <button type="button" class="primary-btn">nos services</button>
                </div>
            </div>
            <div class="right-column">
                <img src="img/chat.jpg">
            </div>

        </div>
    </div>

</body>
</html>