*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.hero{
    width: 80%;
    margin: auto;
}
.navbar{
    background-color: #E1A624;
    margin: 0px -155px;
    width: 1537px;
    display: flex;
    align-items: center;
}
.navbar-logo{
    margin: 10px 20px;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px; 
    position: relative;
}
ul li a::after{
    content: '';
    width: 0;
    height: 30px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}
.navbar-icons img{
    margin-right: 30px;
    height: 25px;
    margin-left: 0px;
    cursor: pointer;
}
.navbar-icons{
    margin-left: 40px; 
}
.banner{
    display: flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 90%;
    border-radius: 20px;
}
.search-box{
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 30px;
}

.search-box img{
    height: 20px;
    width: 25px;
    cursor: pointer;
}
.search-box input{
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border: 0;
    outline: none;
}
.left-column h1{
    font-size: 100px;
}
.left-column h3{
    font-size: 35px;
}
span{
        color: #E1A624;
    }
.left-column pre{
    font-size: 14px;
    color: #999;
    margin: 20px 0;
}
.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #E1A624;
    border-radius: 20px;
    cursor: pointer;
    color: #E1A624;
    background: transparent;
}
btn .primary-btn{
    background: linear-gradient(#E1A624, #ff7b00);
    box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
    color: #fff;
}
.btn button::after{
    content: '';
    width: 0;
    height: 30px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    transition: 0.5s;
}
.nom-logo{
    color: #ffffff;
}